.container{
    height: 100%;
    width: 30%;
    background: #2a2a55;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container h3{
    margin: 0;
}